<div class="cards-home">
  <div class="card-home">
    <%= image_tag "dkb.jpg"%>

  </div>

  <div class="card-home">
    <%= image_tag "amazon.jpg"%>

  </div>

  <div class="card-home">
    <%= image_tag "o2.jpg"%>

  </div>

  <div class="card-home">
    <%= image_tag  "lidl.jpg"%>

  </div>

</div>
