<div class="cards">
  <div class="card-product">
    <%= image_tag "dkb.jpg"%>
    <div class="card-product-infos">
        <h2> DKB </h2>
    </div>
  </div>

  <div class="card-product">
    <%= image_tag "amazon.jpg"%>
    <div class="card-product-infos">
      <h2> Amazon </h2>
    </div>
  </div>

  <div class="card-product">
    <%= image_tag "o2.jpg"%>
      <div class="card-product-infos">
        <h2>  O2 </h2>
      </div>
  </div>

  <div class="card-product">
    <%= image_tag  "lidl.jpg"%>
      <div class="card-product-infos">
        <h2> Lidl </h2>
      </div>
  </div>
</div>
