<div class="cards">

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
      <div class="card-product-infos">
        <h2> DKB </h2>

     </div>
  </div>

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
      <div class="card-product-infos">
        <h2> Amazon </h2>

     </div>
  </div>

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
      <div class="card-product-infos">
        <h2>  O2 </h2>

     </div>
  </div>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
      <div class="card-product-infos">
        <h2> Lidl </h2>

     </div>
  </div>

</div>
