<div class="drawer-category">

  <div class="category-cover" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(<%= image_path "city-skyline.jpg" %>)">
    <%= name %>
  </div>
  <div class="cards category-providers">
    <%= render providers %>
  </div>
  
</div>
