<div class="card-provider">

  <%= image_tag "enterprise.svg" %>
  
  <div class="card-provider-info">
    <h3><%= provider.name %></h3>
    <p><%= provider.description %></p>
  </div>

  <div class="card-provider-icon">
    <%= image_tag "icons/plus.svg" %>
  </div>

</div>
