<div class="container my-5" data-controller="selection">

  <h4><strong> Choose your providers </strong></h4>
    <p> Click on the categories and select all companies you need to give a heads up about your new home. The selected items will be added to your providers list on your dashboard. </p>

  <%= render "search_bar" %>

  <div class="result">
    <%= pluralize @providers.count, "result" %>
  </div>

  <div class="card-drawers">
    <% Provider::CATEGORY.each do |cat_name| %>
      <% contents = @providers.filter { |prov| prov.category == cat_name } %>
      <% unless contents.empty? %>
      <%= render "category", name: cat_name, providers: contents, selected_ids: @selected_ids, icons: @icons %>
      <% end %>
  <% end %>
  </div>

</div>

<div class="fixed d-flex justify-content-center">
  <div class=" bar mt-3">
  <p> Happy with your selection?
<%= link_to "Go to Next Step", my_providers_path(checked:"1"), class: "btn btn-success" %></p></div>
</div>
