<div class="fixed d-flex justify-content-center">
  <div class=" bar mt-3">
  <p> Are you done?   
  <%= link_to "Done", my_providers_path, class: "btn btn-success" %></p></div>
</div>

<div class="container my-5" data-controller="selection">

  <h4><strong> Choose your providers </strong></h4>
    <p> Click on the categories and select all providers you need to give a heads up about your new home. The selected providers will be added to your provider list in your dashboard. </p>

  <%= render "search_bar" %>

  <div class="result">
    <%= pluralize @providers.count, "result" %> 
  </div>

  <% Provider::CATEGORY.each do |cat_name| %>
    <% contents = @providers.filter { |prov| prov.category == cat_name } %>
    <%= render "category", name: cat_name, providers: contents, selected_ids: @selected_ids, icons: @icons %>
  <% end %>
</div>
