<div class="container mt-3">

  <% Provider::CATEGORY.each do |cat_name| %>
    <% cat_content = @providers.filter { |prov| prov.category == cat_name } %>
    <%= render "category", name: cat_name, providers: cat_content %>
  <% end %>

</div>
