<div class="container my-5" 
  data-controller="selection" 
  data-selection-plus="<%= @icons[:plus] %>" 
  data-selection-check="<%= @icons[:check] %>"
>
  <% Provider::CATEGORY.each do |cat_name| %>
    <% contents = @providers.filter { |prov| prov.category == cat_name } %>
    <%= render "category", name: cat_name, providers: contents, selected_ids: @selected_ids, icons: @icons %>
  <% end %>

</div>
