<div class="container">
    <h1>Provider - Show Page for Admin</h1>
    <h2> <%= @provider.name %> </h2>
    <h3> <%= @provider.category %> </h3>
    <h3> <%= @provider.provider_email %> </h3>
    <h3> <%= @provider.description %> </h3>
</div>
