// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// custom color schema
$our-blue: #31326f;
$our-purple: #590995;
$our-pink: #C62A88;
$our-green: #03c4a1;
$our-gray: #060930;
$our-back-purple: #5d5e8df2;
