

<div class="hallo">
  <div class="row justify-content-center mr-0">
    <div class="col-6 form-col">
      <div class="form-new-move">
            <!-- Insert form here -->
          <%= render 'new_move_form' %>
      </div>
    </div>
  </div>
</div>


