<div class="container-about">
  <div class="about-picture"></div>

  <div class="about-text">
    <h3><strong>About AddressMover</strong></h3>
    <hr>
    <p>For most of us, moving is a stressful event. You have to deal with a new home, a new commute, a new neighborhood or even just an unfamiliar location. It's time-consuming and can be expensive. We started AddressMover from a simple idea helping people who are moving save time and money. And if in the meantime we make their lives a little easier and less stressful, even better.</p>
    <p>The process of moving can be long and complicated. You have to move out of your old house and go through the process of transforming your house into your home. It's a lot to do - and it's not always cheap.</p>
    <p>With AddressMover you change your address for all your service providers with only a few clicks.AddressMover is free, secure and easy to manage.</p>
  </div>
</div>
