<div class="container my-5">

  <div class="row mx-5 row justify-content-center mx-5 my-5">
    <div class="text-center home-center-text">
      <h2>AddressMover is free, secure and easy to manage.</h2>
      <h2>How does it work?</h2>
    </div>
  </div>

  <div class="steps-row row my-5">


    <div class="col text-center home-steps">
      <i class="fas fa-user-plus"></i>
      <h2>Share your move</h2>
      <p> Planning to move? Start by letting us know your new address and moving date.<br> Easy as that.</p>
    </div>
     </div>
<div class="steps-row row my-5">

    <div class="col text-center home-steps">
      <i class="fas fa-search-plus"></i>
      <h2>Choose your services</h2>
      <p>Select providers you want us to inform about your address change.<br> No more struggling.</p>
    </div>
  </div>
  <div class="steps-row row my-5">


    <div class="col text-center home-steps">
      <i class="fas fa-flag-checkered"></i>
      <h2>You are ready!</h2>
      <p>Start the update and check the status on your dashboard.<br> Stay ahead of things.</p>
    </div>
</div>


</div>
