<div class="container my-5">

  <div class="row mx-5 my-5">
    <div class="text-center home-center-text">
      <p>Request your address change to all your service providers at once with AddressMover. </p>
      <P>Follow these simple steps and keep on moving:</P>
    </div>
  </div>

  <div class="row my-5">

    <div class="col text-center home-steps">
      <i class="fas fa-user-plus"></i>
      <h2> Share your journey </h2>
      <p>Create your account quickly and simple. Let us know from where to where you are moving.</p>
    </div>

    <div class="col text-center home-steps">
      <i class="fas fa-search-plus"></i>
      <h2> Choosing time </h2>
      <p>Search for services you want us to inform about your address change. Easy, no more struggling.</p>
    </div>

    <div class="col text-center home-steps">
      <i class="fas fa-flag-checkered"></i>
      <h2> You are ready! </h2>
      <p> Update your address anytime and choose providers to inform about it easily.</p>
    </div>

  </div>

</div>
