<div class="home-providers-layout container my-5 p-5 rounded">
  <h3> Check out some of the services we work with :</h3>
  <div>
    <%= render "providers/cards-index" %>
  </div>
  <div>
    <%= link_to "Go to All Services", providers_path, class: "btn btn-lg btn-info mb-3" %>
  </div>
</div>
