<div class="banner">

     <%= link_to "Start now", my_providers_path, class: "btn btn-lg btn-primary"  %>

    <div class="banner-content text-left">
      <h1>The future of moving is here.</h1>
    </div>

</div>
