<div class="banner">
    <div class="banner-content text-left">
      <h1>The future of moving is here.</h1>
      <p>With AddressMover change your address on all your service providers with only a few clicks.</p>
      <%= link_to "Start Now", my_providers_path, class: "btn btn-lg btn-primary"  %>
    </div>
</div>
