<div class="home-providers-layout my-5 p-5">
  <div class="container d-flex">
  <h3> Check out some of the services we work with :</h3>
</div>
  <div class="container d-flex justify-content-center">
    <%= render "providers/cards-index" %>
  </div>
  <div class="container d-flex justify-content-center">
    <%= link_to "Go to All Services", providers_path, class: "btn btn-lg" %>
  </div>
</div>
