<div class="container my-5">

  <div class="row mx-5 my-5">
    <div class="text-center">
      <p>Request your address change to all your service providers at once with AddressMover. Follow these simple steps and keep on moving :</p>
    </div>
  </div>

  <div class="row my-5">

    <div class="col text-center">
      <i class="fas fa-user-plus"></i>
      <p>Create your account quickly and simple. Let us know from where to where you are moving.</p>
    </div>

    <div class="col text-center">
      <i class="fas fa-search-plus"></i>
      <p>Search for services you want us to inform about your address change. Easy, no more struggling.</p>
    </div>

    <div class="col text-center">
      <i class="fas fa-flag-checkered"></i>
      <p>Relax and keep track of your changed data.
       Update your address anytime and choose services to inform about it.</p>
    </div>

  </div>

</div>
