<div class="container my-5">

  <div class="row mx-5 my-5">
    <div class="text-center home-center-text">
      <p>With AddressMover you can request your address change at all your service providers with only a few clicks. It is for free, secure and fast to manage.</p>
      <P>Follow three simple steps and <strong>keep on moving:</strong></P>
    </div>
  </div>

  <div class="row my-5">

    <div class="col text-center home-steps">
      <i class="fas fa-user-plus"></i>
      <h2>1. Share your move</h2>
      <p>Create your account and let us know when you are moving where. Fast and for free.</p>
    </div>

    <div class="col text-center home-steps">
      <i class="fas fa-search-plus"></i>
      <h2>2. Select providers</h2>
      <p>Search for providers you want us to inform about your address change. Easy, no more struggling.</p>
    </div>

    <div class="col text-center home-steps">
      <i class="fas fa-flag-checkered"></i>
      <h2>3. You are ready!</h2>
      <p>Start the process and check the status updates on your dashboard. Stay ahead of things.</p>
    </div>

  </div>

</div>
