<div class="d-flex my-5">
  <%= link_to "1. Plan your move", new_move_path(@my_provider), class: "btn btn-large btn-success mr-3" %>
  <%= link_to "2. Add providers to your list", providers_path, class: "btn btn-large btn-success mr-3" %>
  <%= link_to "3. Send the updates", start_path, method: "POST", class: "btn btn-large btn-success" %>
</div>