<div class="navigation my-5 d-flex justify-content-center">
  <%= link_to "1. Plan your move", new_move_path(@my_provider), class: "btn btn-success mr-3" %>
  <%= link_to "2. Add providers to your list", providers_path, class: "btn btn-success mr-3" %>
  <%= link_to "3. Send the updates", start_path, method: "POST", class: "btn btn-success" %>
</div>