.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-home.png");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 55px;
    width: 300px;
    height: 177px;
  }

  p{
    color: white;
    font-size: 25px;
    width: 300px;
    height: 150px;
    margin-top: 3rem;
    text-align: left;
  }



  .banner-content {
    padding-left: 12%;
    padding-bottom: 10%;
    position: absolute;
    margin-top: 10%;
  }


  .btn {
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 15px 80px;
    display: block;
    z-index: 1;
    margin-top: 3rem;
    border-radius: 7px;
  }
}

