.tabs-v {display:flex;
  flex-wrap:wrap;
  justify-content:center}

.tabs-v label {position:relative;
  order:1;
  width:220px;
  padding:15px 0 20px;
  background-color:transparent;
  margin-bottom:0;
  cursor:pointer;
  text-align:center;
  transition:background-color 500ms ease-in-out}

.tabs-v label > img {width:50px;
  height:auto;
  filter:saturate(0);
  transition:all 500ms ease-in-out}

.tabs-v label > p {padding:15px 10px 0;
  margin:0;
  font-family:$body-font;
  font-size:15px;
  color:$cta-green;
  text-transform:uppercase;
  transition:all 500ms ease-in-out}

.tabs-v label:hover {background-color:rgba(0,0,0,.03)}

.tabs-v label:hover > img {filter:saturate(1)}

.tabs-v label:hover > p {color:var(--c1)}

.tabs-v .tab-content {order:2;
  width:100%;
  padding:0;
  margin:0;
  display:none}

.tabs-v .tab-content > div {display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:stretch;
  background-color:#fff}

.tabs-v .tab-content > div > div {width:50%}

.tabs-v .tab-content > .reverse-tab > .txt-tab {order:2}

.tabs-v .txt-tab {display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  padding:4vh calc(2vw + 15px);
  min-height:25vh}

.tabs-v > input {display:none}
.tabs-v > input + label::after {content:"";
  position:absolute;
  left:50%;bottom:0;
  transform:translateX(-50%);
  width:100%;
  height:1px;
  background-color:#ccc;
  transition:all 500ms ease}

input#tab1-v:checked {
  background: red !important;
}

.tabs-v > input:checked + label {background-color:rgba(0,0,0,.03)}
.tabs-v > input:checked + label::after {height:5px;background-color:var(--c1)}
.tabs-v > input:checked + label > img {filter:saturate(1)}
.tabs-v > input:checked + label > p {color:var(--c1)}
.tabs-v > input:checked + label + .tab-content {display:block}

.tabs-v [class*="img-tab"] {background-repeat:no-repeat;background-size:cover;background-position:50%;min-height:35vh}
.tabs-v .img-tab1 {background-image:url(https://res.cloudinary.com/dzokjumuf/image/upload/v1606920863/AddressMover-Dashboard/pexels-karolina-grabowska-4506226_yexuuy.jpg)}
.tabs-v .img-tab2 {background-image:url(https://res.cloudinary.com/dzokjumuf/image/upload/v1606920864/AddressMover-Dashboard/pexels-karolina-grabowska-4506231_ejbvz9.jpg)}
.tabs-v .img-tab3 {background-image:url(https://res.cloudinary.com/dzokjumuf/image/upload/v1606920864/AddressMover-Dashboard/pexels-ketut-subiyanto-4246202_rq7ksj.jpg)}

.text-above{
  width: 100%;
  background-color:#0bc4a14a;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 12%;
  color:#070930d1;
  font-weight: bold;

  p{
    margin-bottom: 0;
  }
}


.card-my-provider {
  height: 100px;
  display: grid;
  grid-template-columns: 90px auto 80px;
  align-items: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 100%;
}

.card-my-provider>img {
  place-self: center;
  height: 100%;
  width: 100px;
  object-fit: contain;
  padding-left: 12px;
}

.card-my-provider h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-my-provider p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
}

.card-my-provider-info {
  padding: 0 10px 0 30px;
  overflow: hidden;
}

.card-my-provider-icon {
  place-self: center;
  img {
    height: 24px;
    width: 24px;
  }
  transition-property: transform;
  transition-duration: 150ms;
  &:hover {
    transform: scale(1.12, 1.12);
  }
  &:active {
    transform: translate(0px, 2px);
  }
}
