.card-provider {
  height: 80px;
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 100ms;
}

.card-provider.checked {
  background-image: url(asset_path("icons/checked.svg"));
  background-position: 95% 50%;
  background-size: 40px;
  background-repeat: no-repeat;
}

.card-provider:hover {
  transform: scale(1.02, 1.02);
}

.card-provider:active {
  transform: translate(0px, 2px);
}

.card-provider>img {
  place-self: center;
  height: 100%;
  width: 80px;
  object-fit: contain;
  padding: 4px;
}

.card-provider h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-provider p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-provider-info {
  padding: 0 10px;
  overflow: hidden;
}

