.card-home {
  overflow: hidden;
  height: 150px;
  width: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-home img {
  height: 100%;
  object-fit: cover;
}
