.card-my-status {
  height: 100px;
  display: grid;
  grid-template-columns: 90px auto 1fr;

  align-items: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.card-my-status>img {
  place-self: center;
  height: 100%;
  width: 100px;
  object-fit: contain;
  padding-left: 12px;
}
.card-my-status-info {
  padding: 0 10px 0 30px;
  overflow: hidden;
}

.card-my-status h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.card-my-status p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
}

.card-my-status-right p {
  padding-right: 28px;
  text-align: right;
  font-size: 16px;
}

