.container-update{
    padding: 20px 155px;
    display: flex;
}
.update-picture{
    float: left;
    width: 50%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("update-background.jpg");
    background-size: cover;
    background-position: center;

}

.update-card{
    float: right;
    width: 50%;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 50%;
    font-weight: bold;
    background: white;
    h6{
        color: $navigation-blue;
    }
}

.update-card h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    $headers-font: 'Montserrat', sans-serif;
    color: $cta-green;
    padding-bottom: 20px;

}

.button-position{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.confirm{
    float: right;
    width: 30%;
}

.back{
    float: left;
    width: 30%;
}