.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.footer {
  height: 100px;
  background: white;
  box-shadow: 0px -2px 13px rgba(0,0,0,0.13);
  a {
    color:$cta-green;
  }
  li {
    color: $cta-green;
  }
  ul {
    padding: 20px 0;
    margin: 0;
  }
  .list-inline-item {
    font-size: 15px;
  }
}

