  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px; /* Vertically center the text there */
    background: white;
    box-shadow: 0px -2px 13px rgba(0,0,0,0.13);
    a {
    color: black;
  }
    li {
    color: black;
  }
  }

  .list-inline-item {
    font-size: 15px;
  }


