.hallo{

  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-new.jpg");
  background-size: cover;
  background-position: center;
  .form-col {
    margin-bottom: 60px;
  }

}

.form-new-move {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  background: white;
  border-radius: 13px;
  padding: 40px;
  margin-top: 50px;
  h1 {
    color: $cta-green;
    font-size: 30px;
    text-align: center;
  }
  .btn {
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;


  }


}
