.home-providers-layout {
  background: $background-purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

  h3 {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
  }
  a {
    border-radius: 7px;
  }
   .btn {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    transition-duration: 0.8s;
  }
  .btn:hover {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 4px;
    color: black;
  }
}
