.home-center-text {
  p {
    font-size: 1.50rem;


  }
}

.home-steps {
  i {
    font-size : 3rem;
    color: #03c4a1;
  }
  p {
    margin-top: 45px;
    font-size : 1.25rem;

  }
  h2 {
    font-weight: bolder;
    color: #31326f;
  }

}
