.home-providers-layout {
  background: $our-back-purple;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

  h3 {
    color: white;
    font-weight: bolder;
    font-size: 2rem;

  }
  a {
    border-radius: 7px;

  }
}
