.join-us-layout {

border-radius: 5px;
background: #F4F4F4;
box-shadow:  8px 8px 16px #e0e0e0,
             -8px -8px 16px #ffffff;

  h3 {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
  }
  a {
    border-radius: 7px;

  }
  h4 {
    color: $background-purple;

  }
}
