.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 20px 50px 20px 50px;

  a {
    color: $cta-green;
    text-decoration: none;
    transition-duration: 0.8s;
    padding-top: 20px;
    padding-right: 2rem;

  }
  a:hover {
    color: black;
    text-decoration: none;

  }
  }


.navbar-home {
  position: absolute;
    width: 100%;
    background: transparent;
    box-shadow: none;
    padding: 20px 50px 8px 50px;
  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.8s;
    padding-right: 2rem;

  }
  a:hover {
    color: $navigation-blue;
    text-decoration: none;

  }
  .dropdown-menu-right {
    a {
    color: $navigation-blue;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.8s;
    padding-right: 2rem;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

