.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px 12%;
  a {
    color: $cta-green;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.8s;
    padding-top: 10px;
    padding-right: 2rem;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
   .login {
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 4px
  }
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  padding: 10px 12%;

  a {
    padding-right: 2rem;
    color: white;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.8s;
  }
  a:hover {
    color: $navigation-blue;
  }

  .dropdown-menu-right {
    a {
      color: $navigation-blue;
      font-weight: bold;
      text-decoration: none;
      transition-duration: 0.8s;
      padding-right: 2rem;
    }
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
